# macOS
.DS_Store

# Node modules
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.log

# Dependency directories
package-lock.json
yarn.lock

# React Native
# Android
android/.gradle/
android/app/build/
android/build/
android/.idea/
android/.settings/
android/.cxx/
android/local.properties
android/gradlew
android/gradlew.bat
android/gradle/
android/.DS_Store
android/*.iml

# iOS
ios/build/
ios/Pods/
ios/.DS_Store
ios/xcuserdata/
ios/*.xcodeproj/*
!ios/*.xcodeproj/project.pbxproj
!ios/*.xcodeproj/xcshareddata/
!ios/*.xcodeproj/xcuserdata/
ios/*.xcworkspace
ios/Podfile.lock
ios/*.pbxuser
ios/*.mode1v3
ios/*.mode2v3
ios/*.perspectivev3

# Expo
.expo/
.expo-shared/
web-build/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output

# Bundler
*.bundle

# Coverage
coverage/
*.lcov

# Temporary files
tmp/
temp/
*.tmp
*.swp

# Metro, Watchman
.watchmanconfig
*.expo

# TypeScript
*.tsbuildinfo

# IDEs
.idea/
.vscode/

# Misc
*.apk
*.keystore
*.hprof
*.orig

# Environment variables
.env
.env.*
!.env.example

# Jest
jest-test-results.json

# Android Studio & Xcode
*.iml
.gradle/
*.hmap
*.ipa

# Others
npm-debug.log*
yarn-error.log
yarn-debug.log
lerna-debug.log

# Ignore test snapshots
__snapshots__/

